body > * {min-width: 1900px; max-width: 1920px;}
header {
    display: flex; justify-content: space-between; align-items: center;
    width:100%; height:62px; padding:0 30px;
    position:fixed; top:0; z-index: 999; background-color: #111;
}
header h1 {}
header h1 a {}
header h1 a img {}
header nav {width:1400px; display: flex; justify-content: space-between;}
header nav a {color:#fff; font-size: 0.938rem;}
header .icon {}
header .icon a:first-child {margin-right: 15px;}
header .icon a img {}
/* 공통 */
main {}
main .part {}
/* part1 */
main .part1 {text-align: center;}
main .part1 h1 {margin: 142px 0 45px; font-size: 1.875rem; font-weight: 500;}
main .part1 .step {
    display: flex; justify-content: center;
    margin-bottom: 80px;
}
main .part1 .step li {position:relative;}
main .part1 .step li::after {
    content: ''; width:60px; height:1px; background-color: #777;
    display: inline-block; position:absolute; right:-90px; top:30px;
}
main .part1 .step li:last-child::after {display: none;}
main .part1 .step li:nth-child(2) {margin: 0 122px;}
main .part1 .step li:nth-child(2),
main .part1 .step li:nth-child(3) {color:#777;}
main .part1 .step li h2 {font-size: 2.5rem; margin-bottom: 10px; font-weight: 500;}
main .part1 .step li p {font-size: 1.125rem; font-weight: 500;}
/* part2 */
main .part2 {}
main .part2 form {
    display:flex;
    background-color: #eaeaea; width:100%; justify-content: center;
    padding: 84.5px 0;
}
main .part2 form fieldset {margin-right: 78px; position:relative;}
main .part2 form fieldset::after {
    content: ''; display:inline-block; width:1px; height:46px; background-color: #9a9a9a; position:absolute; right:-38px; top:16px;
}
main .part2 form fieldset .hotel p {font-size: 1.125rem;}
main .part2 form .person::after {display:none;}
main .part2 form fieldset .hotel {
    display:flex; width:272px; justify-content: space-between; height: 46px;
    border-bottom: 1px solid #9a9a9a; align-items: center;
    cursor: pointer;
}
main .part2 form fieldset .hotel p {color:#000;}
main .part2 form .check,
main .part2 form .person {display: flex;}
main .part2 form fieldset h2,
main .part2 form .person .child p {
    color:#000; margin-bottom: 6px; font-size: 0.875rem; font-weight: 300;
}
main .part2 form .check .date {
    width:186px; border-bottom: 1px solid #9a9a9a;
    display:flex; justify-content: space-between;
    height:46px; position:relative;
}
main .part2 form .check .date img {width:20px; position:absolute; right:10px; top:15px;}
main .part2 form .check .date input {
    width:100%; background-color: rgba(0,0,0,0); border:none; color:#000; font-family: 'noto sans kr'; font-size: 1.125rem; position:relative;
    padding: 0 10px;
}
main .part2 form .check .date input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    z-index: 1; cursor: pointer;
}
main .part2 form .check .date input[type="date"]:focus,
main .part2 form .room .result input:focus {outline:none;}
main .part2 form .check .check_in .date {margin-right: 20px;}
main .part2 form fieldset h2 {font-size: 1.125rem;}
main .part2 form fieldset span {color:#000;}
main .part2 form .person div:nth-child(2) {margin:0 20px;}
main .part2 form .room .result {
    width:111px; border-bottom: 1px solid #9a9a9a;
    display:inline-block;
    display:flex; justify-content: space-between; align-items: center;
}
main .part2 form .room .result input {width:40px; background-color: rgba(0,0,0,0); border:none; height: 46px; color:#000; text-align: center; font-size: 1.125rem;}
main .part2 form .room .result img {width:20px; cursor: pointer;}
main .part2 form #search {
    border: 0.5px solid #000; text-align: center;
    width:156px; line-height:60px; font-size: 1.125rem; color:#000;}
main .part2 form #search:hover {
    background-color: #111;
    color:#fff;
    border:none;
}
main .part2 form .person {}
main .part2 form .person div {
    width:167px;
}
main .part2 form .person .result {
    display:flex; justify-content: space-between;
    align-items: center; height: 46px;
    border-bottom: 1px solid #9a9a9a;
}
main .part2 form .child p {height:18px;}
main .part2 form .person div h2 {}
main .part2 form .person div > span img {cursor: pointer;}
main .part2 form .person div > span span {font-size: 1.125rem;}
main .part2 .pop {
    position:fixed; left:0; top:0; z-index: 999;
    width:100%; height:100vh;
    background: rgba(0,0,0,0.6);
}
main .part2 .pop .location {
    width:1260px; margin:130px auto 0;
}
main .part2 .pop .location .top {
    background-image: url(../images/pop_001.jpg);
    height:148px; text-align: center;
    color:#fff; display:flex; flex-flow:column;
}
main .part2 .pop .location .top h3 {
    margin: 50px 0 15px;
    font-size: 1.25rem;
    font-weight: 500;
}
main .part2 .pop .location .top p {font-weight: 500;}
main .part2 .pop .location .btm {
    background-color: #fff; padding:15px 100px 40px;
}
main .part2 .pop .location .btm h3 {
    margin-top: 25px;
    font-weight: 600;
}
main .part2 .pop .location .btm .choice {
    margin-top: 20px;
    display:flex; flex-flow: row wrap;
    justify-content: space-between;
    gap: 20px;
}
main .part2 .pop .location .btm .choice a {
    border:1px solid #dfdfdf;
    width:245px; text-align: center;
    line-height:43px;
}
main .part2 .pop .location .btm .choice a:hover {background-color: #111; color:#fff;}
main .part2 .pop .location .ok {
    border:1px solid #dfdfdf;
    width:128px; margin:40px auto 0;
    text-align: center; cursor: pointer;
}
main .part2 .pop .location .ok:hover {
    background-color: #d8d8d8; transition: 0.3s;
}
main .part2 .pop .location .ok a {line-height: 37px; font-weight: 600;}
/* part3 */
main .part3 {width:1400px; margin:0 auto;}
main .part3 .tab {display: flex; margin: 80px 0 40px; border-bottom: 1px solid #E2E2E2; padding: 14px 0;}
main .part3 .tab a {margin-right: 70px; color:#777;}
main .part3 .tab a:first-child {font-weight: 700; color:#000;}
main .part3 .tab a:last-child {margin-right: 0;}
main .part3 .list {}
main .part3 .list .room {
    display:flex; justify-content: space-between;
    font-size: 1.125rem; margin-bottom: 160px; position:relative;
}
main .part3 .list .room::after {
    content: ''; display:block; width: 100%; height: 1px;
    background-color: #E2E2E2; position:absolute; bottom:-80px;
}
main .part3 .list .room:last-child::after {display:none;}
main .part3 .list .room .left {}
main .part3 .list .room .left img {}
main .part3 .list .room .right {width: calc(100% - 803px); height:329px; display:flex; flex-flow:column nowrap; justify-content: space-between;}
main .part3 .list .room .right .title {}
main .part3 .list .room .right .title .room_name {
    display:flex; justify-content: space-between; margin-bottom: 20px;
}
main .part3 .list .room .right .title .room_name h2 {font-size: 1.563rem; font-weight: 500;}
main .part3 .list .room .right .title .room_name a {font-size: 1rem;}
main .part3 .list .room .right .title .room_name a:hover {
    text-decoration: underline;
}
main .part3 .list .room .right p {margin-top: 10px;}
main .part3 .list .room .right ul {margin: 40px 0;}
main .part3 .list .room .right ul li {}
main .part3 .list .room .right ul li:nth-child(2) {margin: 20px 0;}
main .part3 .list .room .right .money {display: flex; justify-content: space-between; align-items: center;}
main .part3 .list .room .right .money span {}
main .part3 .list .room .right .money span em {font-size: 1.875rem; font-weight: 500;}
main .part3 .list .room .right .money a {width:164px; line-height: 67px; background-color: #111; color:#fff; text-align: center;}
main .part3 .list .room .right .money a:hover {
    background-color: #505050;
}
/* footer */
footer {background-color: #111; padding:80px 0;}
footer h1 {width:1400px; margin:0 auto; margin-bottom: 20px;}
footer h1 img {}
footer .info {
    width:1400px; margin:0 auto; color:#fff;
    border-top:1px solid #323232;
    display:flex; justify-content: space-between;
}
footer .info li {
    display:flex; flex-flow:column;
    font-size: 0.875rem;
}
footer .info li:nth-child(2) span {
    width:214px; display: flex; justify-content: space-between;
}
footer .info li:last-child {flex-flow: row;}
footer .info li:last-child a:first-child {margin-right: 20px;}
footer .info li span {margin-top: 20px;}
footer .info li span em {margin-left: 20px;}
footer .info li a {color:#fff; margin-top: 20px;}
footer .info li a:hover {color:#a5a5a5; text-decoration: underline;}
footer .info li a img:hover {opacity: 0.7; transition:0.3s;}